<div id="footer">
	<p class="terms">Esse é um serviço gratuito para diminuir seus links e fazer com que seja mais fácil de compartilha-los. Caso haja algum link ilegal será deletado imediatamente. <%= link_to 'Reportar link?', '/abuse' -%></p>

	<div id="bookmarklet">
		<p>Arraste o bot&atilde;o verde para a barra de favoritos e encurte urls com um clique!</p>
		<p id="action">
			<a href="javascript:void(location.host=='maps.google.com'?location.href='http://hite.in/remote?website_url='+encodeURIComponent(document.getElementById('link').href):location.href='http://hite.in/remote?website_url='+encodeURIComponent(location.href))">Hite This!</a>
		</p>
	</div>
	<p><%= link_to 'O que é o Hite.in?', '/about' -%> Desenvolvido e suportado por <a href="http://www.hite.com.br/" title="Hite Comunicação Digital" target="_blank">Hite Comunicação Digital.</a><br />Criado por <a href="http://www.thiagoduarte.com.br" title="Thiago Duarte" target="_blank">Thiago Duarte</a> baseado no script descontinuado "bloat.me"</p>
	<p>
	<a href="http://twitter.com/tduarte"><img src="/images/twitter.png" /></a>
	</p>

</div>