<% form_for :link, @link, :url => {:controller => :links ,:action => 'create'}  do |f| %>
  <h1><label for="link_website_url">Cole sua url gigante</label></h1>
  <%= f.text_field :website_url %>
  
  <button type="submit" value="Submit">Hite!</button>
<% end %>
<!-- <label for="auto_copy" id="copyPaste"><%= check_box_tag :auto_copy, 1, cookies[:auto_copy] == '1' %> Put the result in my clipboard right away.</label> -->
