<div id="content">
<h1>Hite.in?</h1>
<p>Hite.in &eacute; um projeto criado para diminuir url. Fica muito mais f&aacute;cil de serem compartilhadas n&atilde;o?<p>
<p>Outros projetos da Hite: <a href="http://www.hite.com.br/" title="Outros projetos legais!" target="_blank">www.hite.com.br</a></p>

<div id="tryAgain">
	<%= link_to 'Tendi.. bora voltar?', '/' -%>
</div>

<div class="note">
<p>Hitamos <%= @cached_data[:link_count] -%> urls e contando!</p>
<p>Based on the excellent <a href="http://github.com/robbyrussell/rubyurl/tree/master" target="_blank">open source code</a> by Robby Russell and Chris Griffin.</p>
</div>
<p>
</div>

