<div id="content">
<h1>Reportar Link Abusivo</h1>
<p>N&oacute;s odiamos Spam, tanto quanto voc&ecirc;!</p>
<p>Infelizmente, &eacute; dif&iacute;cil de administrar os links que s&atilde;o enviados para n&oacute;s. Nem sempre &eacute; poss&iacute;vel perceber quando tem algo errado... mas n&atilde;o seja por isso! Voc&ecirc; pode nos ajudar reportando algum link abusivo. Envie um e-mail para abusos@hite.in e iremos verificar.</p>
<p>Muito obrigado!</p>

<div id="tryAgain">
	<%= link_to 'P&aacute;gina Inicial', '/' -%>
</div>

<p>
</div>

