<div id="content">
<h1>Vixii! Esse link est&aacute; ... quebrado</h1>

<p>N&atilde;o se esque&ccedil;a de colocar http:// e o resto. Como <a href="http://www.hite.com.br/" target="_blank">http://hite.com.br</a> por exemplo.</p>

<div id="tryAgain">
	<%= link_to 'Tentar de novo?', '/' -%>
</div>
