<div id="app_content">
  <div id="resultUrl">
    <h1>Sua url hitada est&aacute; pronta:</h1>
    <%= link_to @link.permalink, @link.permalink, :class => "bloatMeUrl", :id => "bloatMeUrl" -%>
    
    <p id="xCopy">
      <span id="x_copy_button"><a href="#">Copiar Url</a> or </span>
      <span id="x_copied" style="display:none;">Prontinho, j&aacute; pode compartilhar!</span>
      <span id="startOver"><%= link_to 'Vamos criar mais uma?', '/' -%></span>
    </p>

    <dl id="url_stats">
      <dt>N&uacute;mero de caracteres original:</dt> 
      <dd style="color: #0E82D0;"><%= @link.website_url.length -%> caracteres</dd>
      <dt>Novo e incr&iacute;vel n&uacute;mero:</dt> 
      <dd style="color: #0E82D0;"><%= @link.permalink.length -%> caracteres</dd>
      <dt>Hitou quantos?</dt> 
      <dd style="color: #0E82D0;"><%= @link.website_url.length - @link.permalink.length -%> caracteres</dd>
    </dl>
  </div>
  
  <div id="action">
  </div>
</div>
