<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title><%= (title = yield :title) ? title : 'Hite.in - menos caracteres, mais conteúdo.' %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="description" content="Hite.in shortens long urls" />
	<meta name="keywords" content="hite in migre me tinyurl url links ruby rails" />
	<meta http-equiv="Content-Language" content="en-us" />
	<meta name="ROBOTS" content="ALL" />
	<meta http-equiv="imagetoolbar" content="false" />
	<meta name="MSSmartTagsPreventParsing" content="true" />

  <%= javascript_include_tag 'teste' %>
  <%= stylesheet_link_tag 'master' %>
  
</head>

<body>
	<!-- end flash -->
	<div id="wrapper">
		<div id="header">
			<%= render :partial => 'shared/header' %>
		</div>	
			
			<%= yield %>		
		
	

	<%= render :partial => 'shared/footer' %>

	</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7942130-4");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>